<ng-container *ngIf="User$|async as user">
    <div class="row ">
        <div class="col-lg-3   border p-3">
            <div class="w-100 row mx-auto mb-3 ">
                <img class="col-12 border"
                    [src]="mainPhoto?mainPhoto:'../../../assets/Purple Pink Gradient Man 3D Avatar.png'">
            </div>
            <div class="my-2">
                <div>UserName</div>
                <small>{{user.userName}}</small>
            </div>
            <div class="my-2">
                <div>Location</div>
                <small>{{user.country}},{{user.city}}</small>
            </div>
            <div class="my-2">
                <div>Last Active</div>
                <small>{{user.lastActive |date:'short'}}</small>
            </div>
            <div class="my-2">
                <div>Member since</div>
                <small>{{user.created|date:'short' }}</small>
            </div>
            <div class="row">
                <button class="col-6  p-2 text-center" mat-button color="primary" (click)="onLike()">Like</button>


                <button class=" col-6 p-2 text-center" (click)="selectMessageTab()" mat-button color="Basic"
                    routerLink="/messages">message</button>
            </div>



        </div>
        <div class="col-lg-8 ms-5  mt-5 border">
            <mat-tab-group #tabsParent (selectedTabChange)="onTabActivated($event)">
                <mat-tab label="Description" class="p-3">
                    <div class="pt-3">
                        <h4>
                            Description:
                        </h4>
                        {{user.introduction}}
                        <h4 class="mt-5">
                            Looking For:
                        </h4>
                        {{user.lookingFor}}
                    </div>
                </mat-tab>
                <mat-tab label="Intersts">
                    <div class="pt-3">
                        <h4>Intersts</h4>
                        {{user.intersts}}
                    </div>

                </mat-tab>
                <mat-tab label="Messages">
                    <div>
                        <app-member-message [messages]="messages"> </app-member-message>
                    </div>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>

</ng-container>