<div>
    <mat-card class="card m-1">
        <mat-card-content class="text-center d-flex justify-content-center
        "><mat-icon aria-hidden="false" aria-label="Example home icon"
                fontIcon="person"></mat-icon>{{member.userName}}</mat-card-content>
        <img class="imageZoomEffect" mat-card-image [src]="mainPhoto">
        <ul class="userDitailBtn">
            <a [routerLink]='["/Members",member.memberId]'>
                <li class="rounded "><mat-icon aria-hidden="false" aria-label="Example home icon"
                        fontIcon="account_circle"></mat-icon></li>
            </a>
            <li class="rounded" [classList]="{danger:isliked}" (click)="addLike(member.memberId)"><mat-icon
                    aria-hidden="false" aria-label="Example home icon" fontIcon="favorite "></mat-icon></li>
            <li class="rounded "><mat-icon aria-hidden="false" aria-label="Example home icon"
                    fontIcon="chat"></mat-icon>
            </li>
        </ul>
    </mat-card>
</div>