<form class=" mx-auto  w-25  mt-5" [formGroup]="signUpForm" (ngSubmit)="onSubmit()">

    <h1 class="fw-bold text-center mx-auto" style="color: #673ab7;">SignUp</h1>
    <mat-form-field appearance="fill" class="w-100">
        <mat-label>name</mat-label>
        <input formControlName="Name" name="name" required matInput placeholder="name">
        <mat-error *ngIf="!signUpForm.get('Name').valid&&signUpForm.get('Name').touched">
            You must enter a value
        </mat-error>
    </mat-form-field>




    <mat-form-field appearance="fill" class="w-100">
        <mat-label>username</mat-label>
        <input formControlName="UserName" required name="username" matInput placeholder="username">
        <mat-error *ngIf="!signUpForm.get('UserName').valid&&signUpForm.get('UserName').touched">You must enter a
            value</mat-error>
    </mat-form-field>
    <div class="example-container">
        <mat-form-field appearance="fill" class="w-100">
            <mat-label>Enter your email</mat-label>
            <input matInput placeholder="pat@example.com" type="email" name="email" formControlName="Email">
            <mat-error *ngIf="!signUpForm.get('Email').valid&&signUpForm.get('Email')">You must enter a vaild
                email</mat-error>
        </mat-form-field>
        <div formGroupName="PasswordGroup">
            <mat-form-field appearance="fill" class="w-100">
                <mat-label>Enter your password</mat-label>
                <input matInput formControlName="Password" name="password" required [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error
                    *ngIf="!signUpForm.get('PasswordGroup.Password').valid&&signUpForm.get('PasswordGroup.Password').touched">You
                    must enter
                    a
                    vaild
                    password</mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100">
                <mat-label>confirm your password </mat-label>
                <input name="password" formControlName="ConfirmPassword" matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <mat-error
                    *ngIf="signUpForm.get('PasswordGroup.ConfirmPassword').touched && signUpForm.get('PasswordGroup').errors['notIdentical']">they
                    are not identical
                    passwords</mat-error>


            </mat-form-field>
        </div>


        <button mat-flat-button w-25 color="primary" type="submit">Submit</button>

    </div>
</form>