<!-- " -->

<div class="row mb-5">
    <mat-button-toggle-group [(ngModel)]="container" class="btn-group mat-raised-button p-0" style="width: fit-content;"
        color="primary" name="container">
        <mat-button-toggle value="unread" (click)="loadMesssage()"> <i class="fa fa-envelope"></i>
            unread <mat-icon aria-hidden="false" fontIcon="unread"></mat-icon></mat-button-toggle>
        <mat-button-toggle value="Outbox" (click)="loadMesssage()"> <i class="fa fa-envelope-open"></i>
            Outbox <mat-icon aria-hidden="false" fontIcon="box"></mat-icon></mat-button-toggle>
        <mat-button-toggle value="inbox" (click)="loadMesssage()"> <i class="fa fa-envelope-plane"></i>
            inbox <mat-icon aria-hidden="false" fontIcon="outbox"></mat-icon>
        </mat-button-toggle>
    </mat-button-toggle-group>
</div>

<div class="row" *ngIf="!messages || messages.length === 0">
    <h3>No messages</h3>
</div>
<div class="row" *ngIf="messages && messages.length > 0">
    <div class="row">
        <table class="table table-hover" style="cursor: pointer;">
            <thead>
                <tr>
                    <th style="width: 40%"> Message</th>
                    <th style="width: 20%">From / To</th>
                    <th style="width: 20%">Sent / Received</th>
                    <th style="width: 20%"></th>
                </tr>
            </thead>
            <tbody class="align-middle">
                <tr *ngFor="let message of messages">
                    <td>{{message.content}}</td>
                    <td>
                        <div *ngIf="container ==='Outbox'">
                            <img class="img-circle rounded-circle me-2" style="width:20px"
                                src="{{message.senderPhotoUrl || './assets/user.png'}}">
                            <strong>{{message.senderUsername}}</strong>
                        </div>
                        <div *ngIf="container ==='inbox'">
                            <img src="{{message.senderPhotoUrl || './assets/user.png'}}" style="width:20px"
                                class="img-circle rounded-circle me-2" src="">
                            <strong>{{message.senderUsername}}</strong>
                        </div>
                        <div *ngIf="container ==='unread'">
                            <img src="{{message.senderPhotoUrl || './assets/user.png'}}" style="width:20px"
                                class="img-circle rounded-circle me-2" src="">
                            <strong>{{message.senderUsername}}</strong>
                        </div>
                    </td>
                    <td>{{message.messageSent|date:'short'}}</td>
                    <td *ngIf="container ==='Outbox'">
                        <button type="button" class="btn btn-danger" (click)="deleteMessage(message.id)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>