<div class="text-center mt-5    " style="position: relative;">

    <img src="../../assets/Texting-bro.svg" width="750" style="position: absolute;">
    <h1>wanna talk!!</h1>
    <p>come on to chat with Friends ... all you need to sign up !</p>
    <div class="d-flex justify-content-center ">
        <button class="btn me-2" mat-raised-button color="primary" routerLink="/signUp">Register </button>
        <button class="btn btn-secondary" mat-raised-button color="accent">learn more</button>

    </div>

</div>